.page-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    height: 95vh;
    width: 98vw;
    
}

/* header css */
.header-container{
    display: flex;
    height: 15vh;
    width: 98vw;
    background: #0B4F6C;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-container {
    display:flex;
    height:5vh;
    width: 98vw;
    flex-direction: row;
    background: #0B4F6C;
}

.restaurant-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30vw;
    align-items: flex-end
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    align-items: flex-end
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30vw;
    align-items: flex-end
}

.header {
    color: #F8F32B;
}

/* main container css */
.main-container{
    display: flex;
    flex-direction: row;
    border-style: solid;
    height: 75vh;
    width: 98vw;
}

.column-left {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: #f2feff;
    justify-content: flex-start;
    border-style: double;
    padding: 20px;
}

.column-middle {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background: #edfdfe;
    border-style: double;
    padding: 20px
}

.column-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: #f2feff;
    justify-content: flex-start;
    border-style: double;
    padding: 20px
}

.panel-header {
    font-size: 20px;
    font-weight: 500;
}

/* panel css */
.list-restaurants {
    overflow: scroll;
    text-align: center;
}

.restaurant-items {
    overflow: scroll;
}

.cart-items {
    overflow: scroll;
}


h1 {
    font-weight: 750;
    font-style: normal;
    color: #FF0000;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    line-height: 0
}

.title {
    font-size: 70px;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 600;
    color: #F8F32B;
    font-style: normal;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
    font-weight: 550;
    font-style: normal;
    color: #170A1C;
    font-family: 'Courier New', Courier, monospace
}

.restaurant-info {
    text-align: center;
}

h4 {
    font-weight: 550;
    font-style: normal;
    color: #170A1C;
    font-family: 'Courier New', Courier, monospace
}

p {
    font-weight: 400;
    font-style: normal;
    color: #170A1C;
    font-family: 'Courier New', Courier, monospace
}
