.page-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    height: 100vh;
    width: 100vw;
}

.header-container{
    display: flex;
    height: 15vh;
    background: #fafffe;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.main-container{
    display: flex;
    flex-direction: row;
    border-style: solid;
    height: 85vh;
    width: 100vw;

}

.column-left {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: #fafffe;
    justify-content: flex-start;
    border-style: double;
    padding: 20px;
}

.column-middle {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background: #fafffe;
    border-style: double;
    padding: 20px
}

.column-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: #fafffe;
    justify-content: flex-start;
    border-style: double;
    padding: 20px
}

.list-restaurants {
    overflow: scroll;
    text-align: center;
}

.restaurant-items {
    overflow: scroll;
}

.cart-items {
    overflow: scroll;
}

.headers {
    text-align: center;
}

/* * {
    box-sizing: border-box;
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0a5e7d;
} */

h1 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #219eac;
    text-align: center;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 550;
    font-style: normal;
    color: #313d5a;
}

h4 {
    font-family: interstate, sans-serif;
    font-weight: 550;
    font-style: normal;
    color: #313d5a;
}

p {
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #313d5a;
}