/* .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: left;
    padding: 10px;
    height:100vh;
}

.restaurants, .user-cart-container {
    width: 30%;
    background-color: #fcdcdb;
    justify-content: flex-start;
}

.restaurantMenu {
    width: 40%;
    background-image: url("https://i.pinimg.com/564x/8b/a5/c3/8ba5c377aea0d1e1fbba849b01d5a415.jpg");
    background-color: #cccccc;
}
/* 
.container {
    display: flex;
}

.item-center {
    flex-grow: 1;
}

.item + .item {
    margin-left: 2%;
}

.container {
    display:flex
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}


.left {order:1; background:red; flex-basis:100%; height:300px}
.middle {order:3; background: green;flex-basis:100%; height:300px;}
.right {order:2; background:yellow;flex-basis:100%; height:300px;}

.container {
    flex-wrap:nowrap;
} 

 .left {
     flex-basis:200px;
     order:1;
 }
 .middle {
     flex-basis:1;
     order:2;
 }
 .right {
     flex-basis:200px;
     order:3;
 } */